<!DOCTYPE html>
<head>
	<title>Paloozie</title>

	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/view-paloozie.css">

</head>

	<body>

		<section id="main-party-description">

			<img id="paloozie-picture" src="/static/img/party1.JPG">

			<section id="main-nav-bar">
				<section class="the-actual-nav-bar">
					<img src="http://palooziedemo.com/images/app/logo.PNG" style="height: 80px;">
				</section>
			</section>
			
		</section>

		<section id="paloozie-item-claim">asdfasdfasdf</section>

	</body>
</html>